@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.checkbox {
  --checkbox-border-colour: #c9c9c9;
  margin-bottom: 28px;
}

.checkbox input {
  opacity: 0;
  width: 28px;
  height: 28px;
  margin-left: 0;
}

.checkbox label {
  position: relative;
  display: inline-block;
  font-weight: 100;
  font-size: 16px;
  line-height: 19px;
  padding-left: 10px;
}

.checkbox label::before,
.checkbox label::after {
  position: absolute;
  content: '';
  display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkbox label::before {
  height: 28px;
  width: 28px;
  border: 1px solid var(--checkbox-border-colour);
  border-radius: 5px;
  left: -28px;
  /*(19px line-height - 28px height of fake checkbox) = -9px - 1px (for the border) ÷ 2 = -5px
   *to vertically center it.
   */
  top: -5px;
}

/*Hide the checkmark by default*/
.checkbox input[type='checkbox'] + label::after {
  content: none;
}

.checkbox input[type='checkbox']:checked + label::before {
  font-family: FontAwesome;
  display: inline-block;
  content: '\f00c';
  color: #26c022;
  font-size: 25px;
  padding-top: 3px;
}
