.form-group div {
  border: 1px solid gray;
  border-radius: 2px;
  width: 100%;
}

.horizontal {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 13px;
  margin-bottom: 24px;
}

.vertical {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 36px;
}

@media (max-width: 800px) {
  .vertical {
    margin-bottom: 1rem;
    gap: 1rem;
  }

  .horizontal {
    margin-bottom: 1rem;
  }
}
