.registration-form {
  position: relative;
  width: 630px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.1);
  padding: 40px 40px 20px 40px;
}

.registration-form h1 {
  font-weight: 700;
  font-size: 31px;
  line-height: 36px;
  margin-bottom: 30px;
}

.registration-form p {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 100;
  font-size: 16px;
  line-height: 19px;
}

.logo {
  position: absolute;
  top: -73px;
  right: 40px;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.signin {
  font-size: 18px !important;
  line-height: 21px !important;
}

.signin a {
  color: #30d12c;
}

@media (max-width: 800px) {
  .registration-form {
    width: 100vw;
  }

  .registration-form p {
    margin-bottom: 1rem;
  }

  .links {
    margin-bottom: 1rem;
  }
}
