.registration-form {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 632px;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  box-shadow: -2.9px -0.9px 28.6px rgba(0, 0, 0, 0.05);
  padding: 45px 50px;
}

.registration-form *[data-prefix='fas'] {
  color: gray;
  margin: auto 5px;
}

.registration-form input {
  height: 70px;
  width: 100%;
  border: none;
  outline: none;
  font-weight: 100;
  font-size: 26px;
  line-height: 30px;
  margin-left: 10px;
}

.registration-form input:invalid {
  border: 1px solid #ea4335;
}

.registration-form h1 {
  font-weight: 700;
  font-size: 31px;
  line-height: 36px;
  margin-bottom: 30px;
}

.registration-form p {
  text-align: center;
  margin-bottom: 36px;
  font-weight: 100;
  font-size: 16px;
  line-height: 19px;
}

.registration-form button {
  display: block;
  width: 100%;
  height: 73px;
  border: none;
  border-radius: 50px;
  font-weight: 100;
  font-size: 26px;
  line-height: 30px;
  color: #ffffff;
  background-color: #26c022;
  margin-bottom: 28px;
}

.registration-form button:hover {
  box-shadow: 0px 0px 10.3px rgba(0, 0, 0, 0.1);
}

.logo {
  position: fixed;
  top: -73px;
  right: 38px;
}

.input {
  display: flex;
  justify-content: stretch;
  align-content: center;
  padding: 5px;
}

.form-group {
  margin-bottom: 5px;
}

.form-group div {
  border: 1px solid gray;
  border-radius: 2px;
  width: 100%;
}

.horizontal {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 13px;
  margin-bottom: 24px;
}

.horizontal div {
  display: flex;
}

.vertical {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 36px;
}

/* checkbox start */
.checkbox {
  margin-bottom: 28px;
}

.checkbox input {
  opacity: 0;
  width: 28px;
  height: 28px;
  margin-left: 0;
}

.checkbox label {
  position: relative;
  display: inline-block;
  font-weight: 100;
  font-size: 16px;
  line-height: 19px;
  padding-left: 10px;
}

.checkbox label::before,
.checkbox label::after {
  position: absolute;
  content: '';

  /*Needed for the line-height to take effect*/
  display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkbox label::before {
  height: 28px;
  width: 28px;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  left: -28px;
  /*(19px line-height - 28px height of fake checkbox) = -9px - 1px (for the border) ÷ 2 = -5px
   *to vertically center it.
   */
  top: -5px;
}

/*Checkmark of the fake checkbox*/
.checkbox label::after {
  height: 8px;
  width: 20px;
  border-left: 2px solid #26c022;
  border-bottom: 2px solid #26c022;
  transform: rotate(-45deg);
  left: -24px;
  top: 3px;
}

/*Hide the checkmark by default*/
.checkbox input[type='checkbox'] + label::after {
  content: none;
}

/*Unhide on the checked state*/
.checkbox input[type='checkbox']:checked + label::after {
  content: '';
}
/* checkbox end */

.links {
  display: flex;
  justify-content: space-between;
}

.links a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 50px;
  background-color: #dbdbdb;
  border-radius: 40px;
  margin-bottom: 31px;
}

.signin {
  font-size: 18px !important;
  line-height: 21px !important;
}

.signin a {
  color: #30d12c;
}

@media (max-width: 800px) {
  .registration-form {
    width: 100vw;
  }
}
