@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Roboto:wght@100;700&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
}

/* Global styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

.invalid {
  border: 1px solid #ea4335 !important;
}

.invalid *,
.invalid *::placeholder {
  color: #ea4335;
}

@media (max-width: 800px) {
  .registration-form {
    width: 100vw;
  }
}
